


.main {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main h4 {
    font-family: Circular-Medium,Arial,Helvetica,sans-serif !important;
    font-size: 32px !important;
}

.imagesection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;

}




.imagesectionmain {
    background-color: #ffffff;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

.imagesectionimage{
    display: flex;
}

.imagesectionimage p{
    margin-left: 10px;
    color:#131415 !important;
    background-size: 28px !important;
    font-weight: 500;
}

